.bash_logout
.bash_profile
.cache
.cargo

.config/chromium
.config/dconf
.config/gtk-2.0
.config/gtk-3.0
.config/libfm
.config/menus

.config/Microsoft
.config/teams

.config/mimeapps.list
.config/nitrogen
.config/pavucontrol.ini
.config/pcmanfm
.config/pulse
.config/ranger
.config/user-dirs.dirs
.config/user-dirs.locale
.config/viewnior
.config/vlc
.config/GIMP
.config/conky


Desktop
.dmrc
Documents
Downloads
.fonts
.git
.git-credentials
.gnome

.gtk-bookmarks

.histfile
.icons
inutile.txt
.lesshst
.local
Music
.nvidia-settings-rc
.oh-my-zsh
Pictures
.pki
Public
Templates
tmp.tmp
Videos
.vim
.viminfo
.Xauthority
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-ArchNyriu-5.8
.zsh_history
.zshrc.pre-oh-my-zsh
