[user]
	email = muninitristano@gmail.com
	name = Nyriu
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[credential]
	helper = store
[init]
	defaultBranch = main

[core]
	editor = /usr/bin/vim
[color "diff"]
	old = red normal bold
	new = green normal bold
