.bash_logout
.bash_profile

.bundle/
.cabal/
.cache
.cargo

.config/chromium
.config/conky
.config/dconf
.config/dde-printer.ini
.config/discord/
.config/evince/
.config/GeoGebra/
.config/gh/
.config/GIMP
.config/gtk-2.0
.config/gtk-3.0
.config/htop/
.config/i3-layout-manager/
.config/impraxical/
.config/inkscape/
.config/libfm
.config/menus
.config/Microsoft
.config/mimeapps.list
.config/nitrogen
.config/nordvpn/
.config/pavucontrol.ini
.config/pcmanfm
.config/pdfarranger/
.config/pulse
.config/QtProject.conf
.config/scribus/
.config/Slack/
.config/teams
.config/tikzit/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/viewnior
.config/vlc
.config/whatsapp-for-linux/

Desktop
.dmrc
Documents
Downloads
.fehbg*
.fonts
.git
.gitconfig
.git-credentials
.gnome
.gnupg/
.grip/
.gtk-bookmarks
.histfile
.hplip/
.icons
inutile.txt
.ipython/
.lesshst
.lldb/
.local
.mozilla/
Music
.npm/
.nv
.nvidia-settings-rc

.oh-my-zsh

*OLD*

packages_list.txt
pelican-themes
Pictures
.pki
Public
.python_history
.slime_paste
.stack/

Templates

.texlive/
texmf/

tmp
tmp.tmp

Videos

.vim/bundle
.viminfo
.vim/.netrwhist
.vim/OLD.ycm_extra_conf.py
.vimspector.log
.vim/spell

.wget-hsts

.Xauthority
.xinitrc.bak
.xsession-errors
.xsession-errors.old

.zcompdump
.zcompdump-ArchNyriu-5.8

.zsh_history
.zshrc.pre-oh-my-zsh
