.bash_history
.bash_logout
.bash_profile
./bin
bin/
.bundle/
.cabal/
.cache
.cargo
.config/balena-etcher-electron/
.config/cef_user_data/
.config/chromium
.config/coc/
.config/Code - OSS/
.config/configstore/
.config/conky
.config/cura/
.config/dconf
.config/dde-printer.ini
.config/discord/
.config/evince/
.config/GeoGebra/
.config/gh/
.config/GIMP
.config/gtk-2.0
.config/gtk-3.0
.config/htop/
.config/i3-layout-manager/
.config/impraxical/
.config/inkscape/
.config/libfm
.config/libreoffice/
.config/MangoHud/
.config/menus
.config/Microsoft
.config/mimeapps.list
.config/nitrogen
.config/nordvpn/
.config/NuGet/
.config/NVIDIA Corporation/
.config/nvim/plugin/packer_compiled.lua
.config/nvim/spell/
.config/pavucontrol.ini
.config/pcmanfm
.config/pdfarranger/
.config/pulse
.config/qBittorrent/
.config/QtProject.conf
.config/Raspberry Pi/
.config/scribus/
.config/Slack/
.config/spyder-py3/
.config/s-tui/
.config/teams
.config/teams-for-linux/
.config/teamviewer/
.config/tikzit/
.config/Unknown Organization/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/viewnior
.config/vlc
.config/whatsapp-for-linux/
.config/zoomus.conf
Desktop
.dmrc
Documents
Downloads
.dwarffortress/
dwarffortress/
.eclipse/
.electron-gyp/
.fehbg*
.fonts
.ghc/
.ghcup/
.git
.gitconfig
.git-credentials
.gnome
.gnupg/
.grip/
.gtk-bookmarks
.histfile
.hplip/
.icons
inutile.txt
.ipython/
.jupyter/
.keras/
LDocuments
LDocuments*
.lesshst
.lldb/
.local
.m2/
.mozilla/
Music
.npm/
.nsightsystems/
.nuget/
.nv
.nvidia-settings-rc
nvvp_workspace
.oh-my-zsh
*OLD*
pack
packages_list.txt
pelican-themes
Pictures
.pki
Public
.pulse-cookie
.python_history
.slime_paste
.stack/
.steam
.steampath
.steampid
Templates
.texlive/
texmf/
tmp
tmp.tmp
Videos
.vim/bundle
.viminfo
.vim/.netrwhist
.vim/OLD.ycm_extra_conf.py
.vimspector.log
.vim/spell
.vscode-oss/
.wget-hsts
.Xauthority
.xinitrc.bak
.xsession-errors
.xsession-errors.old
.yarnrc
.zcompdump
.zcompdump-ArchNyriu-5.8
.zcompdump-ArchNyriu-5.8.1
.zcompdump-ArchNyriu-5.9
.zoom/
.zsh_history
.zshrc.pre-oh-my-zsh
